body{
    background-color: $c-dark;
    color: white;
    font-family: $f-main;
}
header{
    color: $c-text;
    background: $g-main;
    padding-top: 20px;
    border-radius: 0px 0px 10px 10px;
    h1{
        font-weight: 800;
        font-size: 28px;
        // text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 2px 4px $c-dark;
    }
    input{
        margin-top: 5px;
        margin-bottom: 20px;
        border: 1px solid #00649F;
        border-radius: 5px;
        padding: 7px 0px;
        // box-shadow: 0px 0px 12px $c-main inset;
    }
}
