h1{
    font-size: 28.8px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
}

h2{
    text-align: center;
}
