$c-dark: #292929;
$c-main: #A8EB12;
$c-text: #ffffff;
$c-light: #808080;

$g-main: linear-gradient(to right top, #00649f, #008ec1, #00b5b3, #00d679, #a8eb12);

$f-main: 'Merriweather Sans', sans-serif;
